body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/submarino1.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    width: 75%;
    max-width: 1200px;
    height: 80vh;
    display: flex;
}

.left-section, .right-section {
    flex: 1;
    padding: 40px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.social-icons a {
    margin: 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.right-section {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-section h2 {
    color: #fff;
   
}

.login-form, .recover-form {
    max-width: 300px;
    width: 100%;
    margin: auto;
}

.login-form h2, .recover-form h2 {
    margin-bottom: 20px;
}

.login-form label, .recover-form label {
    display: block;
    margin: 10px 0 5px;
}

.login-form input, .recover-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button, .recover-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.login-form button:hover, .recover-form button:hover {
    background-color: #2980b9;
}

.login-form p, .recover-form p {
    text-align: center;
}

.login-form a, .recover-form a {
    color: #3498db;
    text-decoration: none;
}

.login-form a:hover, .recover-form a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-section, .right-section {
        padding: 20px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }
}
